[submodule "MASPreferences"]
	path = MASPreferences
	url = git@github.com:shpakovski/MASPreferences.git
[submodule "SHKit"]
	path = SHKit
	url = git@github.com:neolee/SHKit.git
[submodule "YAML"]
	path = YAML
	url = git@github.com:neolee/YACYAML.git
[submodule "ShortcutRecorder"]
	path = ShortcutRecorder
	url = git://github.com/Kentzo/ShortcutRecorder.git
